*.log
*.bak
*.html.php
*.htm.php
*.js
*.sql
*.css
*.sql
*.gif
*.jpeg
*.jpg
*.png
app/templates/*
*.htm
frame.class.php
user.class.php
app/module/gift.class.php
app/module/user.class.php
webroot/t.php
tags
