<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Content</title>
<link rel="StyleSheet" href="{{$smarty.const._CSS_URL}}dtree.css" type="text/css" />
<link rel="StyleSheet" href="{{$smarty.const._CSS_URL}}control.css" type="text/css" />
<script type="text/javascript" src="{{$smarty.const._JS_URL}}dtree.js"></script>
</head>

<body >
<table width="98%" cellspacing="1" cellpadding="3" border="0" align="center" class="tableBorder">
  <tbody><tr>
    <td height="25" background="{{$smarty.const._CSS_URL}}images/control_bg_1.gif" align="center" colspan="2">
	<b><font color="white">
	{{$smarty.const._SYS_NAME}}-{{$smarty.const._SYS_VERSION}}</font>
	</b></td>
  </tr>
  <tr>
	<td width="15%" height="23" align="right" class="forumRow">系统名称：</td>
	<td width="85%" height="23" align="left" class="forumRowHighlight">{{$smarty.const._SYS_NAME}}</td>
  </tr>
  <tr>
	<td height="23" align="right" class="forumRow">系统版本：</td>
	<td height="23" align="left" class="forumRowHighlight">{{$smarty.const._SYS_VERSION}}</td>
  </tr>
  <tr>
	<td height="23" align="right" class="forumRow">系统工具：</td>
	<td height="23" align="left" class="forumRowHighlight"><a href="javascript:void(0)">生成对数据库访问的对象文件</a></td>
  </tr>
</tbody></table>
</body>

</html>