<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<title>{{$smarty.const._SYS_NAME}}-{{$smarty.const._SYS_VERSION}}</title>
<SCRIPT language=javascript>
if (top != self){
	top.location = location;
}
</SCRIPT>
</head>
<frameset name="whole" rows="45,*" frameborder="1">
	<frame name="banner" scrolling="no" target="contents" src="top.php">
	<frameset name="middle" cols="190,*" framespacing="1" frameborder="1" bordercolor="#000">
		<frame name="middle_left" scrolling="no" src="menu.php" target="basefrm">	
		<frameset name="middle_right" rows="*,20" framespacing="1" >
			<frame name="basefrm" src="content.php" target="_self">
			<frame name="bottom" scrolling="no" scrollbar="no" resize=no src="bottom.php">
		</frameset>	
	</frameset>
    <noframes>
  <body>
  <p>此网页使用了框架，但您的浏览器不支持框架。</p>
  </body>
    </noframes>
</FRAMESET>
</html>
