<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>菜单</title>
<link rel="StyleSheet" href="{{$smarty.const._CSS_URL}}dtree.css" type="text/css" />
<script type="text/javascript" src="{{$smarty.const._JS_URL}}dtree.js"></script>
</head>

<body bgcolor="#f2f2f2">
<div class="dtree">
<p><a href="javascript: d.openAll();">全部打开</a> | <a href="javascript: d.closeAll();">全部关闭</a></p>
<script type="text/javascript">
<!--
d = new dTree("d","{{$smarty.const._CSS_URL}}images/");
d.add(0,-1,'系统管理面板');

d.add(1,0,"赌局管理","","赌局管理","main");
d.add(2,1,"赌局列表","{{$smarty.const._WEB_DOMAIN}}casino/list.php","赌局列表","basefrm");
//d.add(3,1,"小项目管理","project/sp.php","小项目","basefrm");

d.add(4,0,"类别管理","","类别管理","main");
d.add(5,4,"类别列表","{{$smarty.const._WEB_DOMAIN}}category/list.php","类别列表","basefrm");
//d.add(7,4,"比赛显示状态","jb_list1.htm","比赛显示状态","basefrm");

//d.add(99,0,"系统工具","javascript:void(0)","系统工具","_top");
//d.add(100,99,"系统工具","javascript:void(0)","生成数据库访问类文件","_top");
d.add(1000,0,"退出系统","javascript:void(0)","退出系统","_top");

document.write(d);
d.openAll();
//-->
</script>
</div>
</body>

</html>