<html>
<head></head>
<body>
<form method="POST" target="back" action="action/do.php" >
<input type='hidden' name="action"  value="{{$action}}" />
<input type='hidden' name="user_id"  value="{{$data[0].user_id}}" />
<table width="98%" cellspacing="1" cellpadding="3" border="0" align="center" class="tableBorder">
  <tbody><tr>
    <td height="25" background="{{$smarty.const._CSS_URL}}images/control_bg_1.gif" align="center" colspan="2">
	<b><font color="white">
		{{if $smarty.get.method=='add'}}添加{{else}}修改{{/if}}用户
	</font>
	</b></td>
  </tr>
  <tr>
	<td width="15%" height="23" align="right" class="forumRow">姓名：</td>
	<td width="85%" height="23" align="left" class="forumRowHighlight">
		<input type="text" value="{{$data[0].name}}" size="40" id="name" name="name" />
	</td>
  </tr>
  <tr>
	<td height="23" align="right" class="forumRow">电话：</td>
	<td height="23" align="left" class="forumRowHighlight">
		<input type="text" value="{{$data[0].phone}}" size="40" name="phone" />
	</td>
  </tr>
  <tr>
	<td height="23" align="right" class="forumRow">备注：</td>
	<td height="23" align="left" class="forumRowHighlight">
		<input type="text" value="{{$data[0].memo}}" size="40" name="memo" />
	</td>
  </tr>
  <tr>
	<td height="23" align="center" class="forumRow" colspan="2">
		<input type="submit" value="提交" />
		<input type="reset" value="重置" />
	</td>
  </tr>
</tbody></table>
</form>
<script>
function bodyLoaded(){
	$id('name').focus();
}
</script>
</body>
</html>
