@charset "utf-8";
body{	background: url(./images/bg_page01.jpg) no-repeat top center;}
/*栏宽*/
.lftColumn{	width:210px;}
.rhtColumn{	width:740px;}
/*背景*/
.lft210{	background:#fff url(./images/bg_area210.gif) repeat-x top; margin-top:20px;}
.rht740head{	margin-top:20px; height:71px;overflow:hidden;}
.rht740{	background: url(./images/bg_area740.gif) repeat-y;display:block;}
/*左栏210==个人信息*/
.info{	background: url(./images/bg_pic180.jpg) no-repeat center; width:180px;margin:15px auto 0; height:237px;}
.info .pic{	padding:15px; padding-bottom: 5px;}
.info .name{	font:bold 16px 'Tahoma','宋体';color:#194092; text-align:center; margin:5px auto;}
.tool{	width:180px;margin:0px auto;}
.tool li{	float: left;margin-left:10px;*margin-left:5px;}
.tool .btn_add{	background: url(./images/btn_01.gif) no-repeat 0 -22px;height:20px;width:74px;border:0;}
.tool .btn_send{	background: url(./images/btn_01.gif) no-repeat 0 -42px;height:20px;width:74px;border:0;}
.tool .btn_change{background: url(./images/btn_01.gif) no-repeat 0 -82px;height:20px;width:74px;border:0;}
.tool .btn_manage{background: url(./images/btn_01.gif) no-repeat 0 -102px;height:20px;width:74px;border:0;}
.textDetail{	width:180px;margin:10px auto; padding-bottom:10px;border-bottom:1px solid #cfd7e8;}
.textDetail li{	text-align: left; line-height: 24px;}
.textDetail li span{	font-weight:bold;}
.ftprint{	width:180px;margin:10px auto; padding-bottom:10px;border-bottom:1px solid #cfd7e8;}
.ftprint ul{	width:150px;float:left;clear:right;}
.ftprint li{	float:left;margin:5px 5px 0 0;}
.tabs{	width:180px;margin:10px auto; padding-bottom:10px;}
.ftprint h2, .tabs h2{	font-weight:bold; text-align: left;}
.tabs p{	text-align: left; line-height: 24px; width:170px;}
.tabs p a{	margin-right:6px;}
/*内容导航*/
.rht740head div{	float: left;}
.rht740head ul{float:left;}
.rht740head li{	float:left;margin-top:39px; padding:9px 11px; color:#fff; font:normal 14px '宋体'; background:#3658a5; margin-right:8px; cursor:pointer;}
.rht740head li a, .rht740head li a:hover{	color:#fff;}
.rht740head li.on{	margin-top:38px;background: #fff;border:1px solid #3658a5;border-bottom:0;font-weight:normal; color:#3658a5}
/*中栏*/
.ctr490{	width:490px;margin:10px 0 0 10px;}
/*一句话*/
.sentence{	background: #f2f4f9; border:1px solid #cfd7e8; padding:10px;width:468px;}
.sentence h2{	text-align: right;color:#999;}
.sentence h2 span{	float: left; font:bold 14px/22px '宋体';color:#3658a5}
.sentence .txt{	background:#fff url(./images/bg_ipt01.gif) no-repeat top;margin-top:5px; padding:8px 8px 3px 8px; width:452px; text-align: left; line-height: 24px;}
/*编辑状态*/
.sentence .edit{border:0;background:#ffffcc url(./images/bg_ipt02.gif) no-repeat top;margin-top:5px; padding:8px 8px 3px 8px; width:452px; text-align: left; line-height: 24px;}
.sentence .btn{	background: url(./images/btn_01.gif) no-repeat 0 -62px; width:44px;height:20px; cursor:pointer; border:0;}
.sentence .gray{text-align:left;}
/*新鲜事*/
.affairs h2{	 padding:5px 0 5px 10px; text-align:left;padding-left:10px;font:bold 14px/22px '宋体';color:#3658a5;}
.affairs .nav{	margin:0px auto;border-top:1px solid #cfd7e8; padding:10px 0;}
.affairs .nav li{	float:left; margin:0 6px; line-height: 24px;color:#0072bc; cursor:pointer;}
.affairs .nav li.on{	background: #ececec; font-weight:bold; color:#3658a5;padding:0 10px;}
.affairs .news{	background: url(./images/bg_line.gif) repeat-x top; padding:10px 0;}
.affairs .news .pic{	float:left; margin:0 12px 0 6px;}
.affairs .news .keyword {	text-align: left; }
.affairs .news .keyword span{	margin-right:5px;}
.affairs .news p{	text-align: left; line-height: 24px; float: right;width:420px;_width:410px;}
.affairs .news .more{	background:url(./images/icon_more.gif) no-repeat right; padding-right:10px;}
.affairs .news .tools{	text-align: left; float: right;width:420px;_width:410px; padding-bottom:5px;}
.affairs .news .tools li{	float: left;margin:0 5px;}
.affairs .news .discuss{		background: #f2f4f9; border:1px solid #cfd7e8; border-top:2px solid #cfd7e8; padding:12px 9px 9px 9px; width:400px;float: right; display: block;}
.affairs .news .discuss .ipt{	background: #fff; border:1px solid #fff;border-top:1px solid #cfd7e8; color:#999; width:388px;padding:5px;}
.affairs .news .discuss .btn{	background: url(./images/btn_01.gif) no-repeat 0 -62px; width:44px;height:20px; cursor:pointer; border:0;}
.affairs .dialog{	width:380px; margin-left:30px;*margin-left:-30px; text-align: left; padding-bottom: 10px;}
.affairs .dialog .chat .pic{	background: url(./images/icon_dialog01.gif) no-repeat right;padding-right:10px; float: left;}
.affairs .dialog .chat .discuss{	background: #f2f4f9;border-left:1px solid #cfd7e8; float: right; width:301px; padding:8px 9px;}
.affairs .dialog .note{	padding:5px 0 5px 60px;}
.affairs .dialog .note span{	margin:0 5px;}
.affairs .dialog .reply .pic{	background: url(./images/icon_dialog02.gif) no-repeat right;padding-right:10px; float: left;}
.affairs .dialog .reply .discuss{	background: #faf6ed;border-left:1px solid #f1e1c1; float: right; width:301px; padding:8px 9px;}
.affairs .dialog .reply .answer{	background: #f2f4f9; border:1px solid #cfd7e8; border-top:2px solid #cfd7e8; padding:12px 9px 9px 9px; width:301px;float: right; display: block;}
.affairs .dialog .reply .answer .ipt{	background: #fff; border:1px solid #fff;border-top:1px solid #cfd7e8; color:#999; width:290px;padding:5px;}

/*page_number*/
.pageA{	padding:10px; color:#333; font-size:14px; text-align: right;background: #f2f4f9; border-top:2px solid #cfd7e8;color:#194092;}
.pageA ul{	float: right;}
.pageA li{	margin:0 1px; float:left; height:21px; overflow:hidden;}
.pgnum {padding:0px 2px;margin:2px 0; color: #05389c; text-align: center;line-height:21px;}
.pgnum a { color: #05389c; padding:3px 5px 2px 5px; text-decoration: none;background:#ccd5e8; }
.pgnum a:hover {background: #3658a5;color: #FFF;text-decoration:none;}
.pgnum a:active {background: #3658a5;color: #FFF}
.btn_pre{	width:21px;height:21px;background:url(./images/btn_page.gif) no-repeat 0 0; cursor:pointer;}
.btn_back{	width:21px;height:21px;background:url(./images/btn_page.gif) no-repeat 0 -21px; cursor:pointer;}

/*右栏*/
.rht230{	width:230px; background:#fff; padding-top:10px}
.rht230bdr{	width:214px; background: #fff;border:1px solid #e6eaf3; border-bottom:2px solid #e6eaf3; padding:7px; }
.rht230 h2{	background:#e6eaf3; border-top:1px solid #cfd7e8; padding-top:8px;height: 27px;}
.rht230 h2 span{	padding-left:10px;}
.rht230 .pt{	background:url(./images/bg_line.gif) repeat-x bottom; padding:10px 0 9px;}
.rht230 .pt a{	margin-right:5px;}
.rht230 .pt div{	margin:0 8px;_margin:0 4px;}
.rht230 .pt .gray{	margin:0;}
.rht230 .nobg{	background: none;}
.rht230 .pp {	padding-bottom:10px;}
.rht230 .pp ul{	padding-top:10px;}
.rht230 .pp li{ float:left; margin:0 10px 5px 10px;*margin:0 10px;_margin:0 8px 0px 8px;*width:50px;}
.rht230 .pp .more{	background:url(./images/icon_more.gif) no-repeat right; padding-right:10px;}



