a  { font:normal 12px ����; color:#000000; text-decoration:none; }
a:hover  { color:#428EFF }
body 
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: 宋体;
    background-color: #f2f2f2; 
    text-color:#000000;
    leftmargin: 0px;
    topmargin: 0px;
    marginheight: 0px;
    marginwidth: 0px;
}
TD{
font-family:宋体; font-size: 12px; line-height: 15px;
}
td.forumHeaderBackgroundAlternate
{
    background-color: #DBDBDB;
	color:#000000;
}
#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}
td.forumRow
{
    background-color:#E6E6E6;
    word-break:break-all;
}
td.forumRowHighlight
{
    background-color:#DBDBDB;
    word-break:break-all;
}
.tableBorder
{
    border: 1px #000000 solid; 
    background-color: #000000;
}
th
{
    background-image: url(images/admin_bg_1.gif);
    background-color: #4455aa;
    color: white;
    font-size: 12px;
    font-weight:bold;
}
input,select,Textarea{
font-family:Tahoma,Verdana,����; font-size: 12px; line-height: 15px;}
}